In [1]:
#We'll find out the Premium whose age is 27, height 165.56 and weight is 60
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv("D:/Downloads/Mutiple linear rigresion.csv")
print(df)

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.73      95    38000
2   35  167.64      78    38000
3   40     NaN     110    60000
4   45  157.48      85    70000

In [6]:
mean_height = df.height.mean()

In [4]:
df.height

0    162.56
1    172.73
2    167.64
3       NaN
4    157.48
Name: height, dtype: float64

In [7]:
df.height.fillna(mean_height)

0    162.5600
1    172.7300
2    167.6400
3    165.1025
4    157.4800
Name: height, dtype: float64

In [8]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.73      95    38000
2   35  167.64      78    38000
3   40     NaN     110    60000
4   45  157.48      85    70000

In [9]:
df.height = df.height.fillna(mean_height)
print(df)

   age    height  weight  premium
0   25  162.5600      70    18000
1   30  172.7300      95    38000
2   35  167.6400      78    38000
3   40  165.1025     110    60000
4   45  157.4800      85    70000

In [10]:
reg = linear_model.LinearRegression()

In [11]:
reg.fit(df[["age","height","weight"]],df["premium"])

LinearRegression()

In [12]:
reg.predict([[27,167.56,60]])

C:\Users\abida\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18360.01032518])

In [13]:
df

   age    height  weight  premium
0   25  162.5600      70    18000
1   30  172.7300      95    38000
2   35  167.6400      78    38000
3   40  165.1025     110    60000
4   45  157.4800      85    70000